@model WebApplication_Stomatologiya.Models.Rollar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rollar</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nomi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nomi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
