<div class="w3l_abtdwn">
    <div class="row">
        <div class="col-md-3 col-sm-12 w3l_r1">
            <i class="fa fa-crosshairs" aria-hidden="true"></i>
            <h4><a style="color:red;" href="/Doktor/YangiBemor/@ViewBag.Id">Yangi bemorlar @ViewBag.soni</a></h4>
        </div>
        <div class="col-md-3 col-sm-12 w3l_c1">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <h4><a style="color:red;" href="/Admin/Bemorlar/@ViewBag.Id">Bemorlar</a></h4>
        </div>
        <div class="col-md-3 col-sm-12 w3l_l1">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <h4><a style="color:red;" href="/Doktor/BugXabar/@ViewBag.Id">Xabarlar @ViewBag.bugun</a></h4>
        </div>   
        <div class="col-md-3 col-sm-12 w3l_l1">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <h4><a style="color:red;" href="/Doktor/Sozlamalar/@ViewBag.Id">Sozlamalar</a></h4>
        </div>       
    </div>
</div>
<br />
<div class="priceing-table w3l">
    <div class="">
        <div class="w3_ads">
           
            <div class="priceing-table-main">
                <div class="price-grid">
                    <div class="price-block agile">
                        <div class="price-gd-top pric-clr1">
                            <h4>Asosiy</h4>
                           
                            <h5>1 oy</h5>
                        </div>
                        <div class="price-gd-bottom">
                            <div class="price-list">
                                <ul>
                                    <li>Davolanish</li>
                                    <li>To'lovlar</li>
                                    <li>Qulaylik</li>
                                    <li>Chegirma</li>
                                    <li>Xizmatlar</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-selet pric-sclr1">
                            <a href="#">Batafsil</a>
                        </div>
                    </div>
                </div>
                <div class="price-grid">
                    <div class="price-block agile">
                        <div class="price-gd-top pric-clr2">
                            <h4>Standard</h4>
                            
                            <h5>5 oy</h5>
                        </div>
                        <div class="price-gd-bottom">
                            <div class="price-list">
                                <ul>
                                    <li>Davolanish</li>
                                    <li>To'lovlar</li>
                                    <li>Qulaylik</li>
                                    <li>Chegirma</li>
                                    <li>Xizmatlar</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-selet pric-sclr2">
                            <a href="#">Batafsil</a>
                        </div>
                    </div>
                </div>
                <div class="price-grid wthree">
                    <div class="price-block agile">
                        <div class="price-gd-top pric-clr3">
                            <h4>Yordam</h4>
                           
                            <h5> 2 oy</h5>
                        </div>
                        <div class="price-gd-bottom">
                            <div class="price-list">
                                <ul>
                                    <li>Davolanish</li>
                                    <li>To'lovlar</li>
                                    <li>Qulaylik</li>
                                    <li>Chegirma</li>
                                    <li>Xizmatlar</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-selet pric-sclr3">
                            <a href="#">Batafsil</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
