@{
    ViewBag.Title = "Kabinet";
}

<div class="w3l_abtdwn">
    <div class="row">
        <div class="col-md-3 col-sm-12 w3l_r1">
            <i class="fa fa-crosshairs" aria-hidden="true"></i>
            <h4><a style="color:red;" href="/Stomatologiya/Index">Stomatologiya</a></h4>
        </div>
        <div class="col-md-2 col-sm-12 w3l_c1">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <h4><a style="color:red;" href="/Doktor/Index/@ViewBag.Id">Doktor</a></h4>
        </div>
        <div class="col-md-2 col-sm-12 w3l_c1">
            <i class="fa fa-crosshairs" aria-hidden="true"></i>
            <h4><a style="color:red;" href="/Bemor/Xabar/@ViewBag.Id">Xabar <font color="blue">@ViewBag.bugun</font> ta</a></h4>
        </div>
        <div class="col-md-2 col-sm-12 w3l_l1">
            <i class="fa fa-eye" aria-hidden="true"></i>
            <h4><a style="color:red;" href="/Admin/Anketasi/@ViewBag.Id">Anketa</a></h4>
        </div>
        <div class="col-md-3 col-sm-12 w3l_l1">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <h4><a style="color:red;" href="/Bemor/Sozlamalar/@ViewBag.Id">Sozlamalar</a></h4>
        </div>
        
    </div>
</div>
